<div>
  <input type="checkbox" id="section-delivery" class="accordion__input" />
  <label for="section-delivery" class="accordion__label">Delivery information</label>
  <div class="accordion__content">
    <p>
        All our fresh meat prodcuts are vacuum packed and delivered overnight in fully recycleable, temperature controlled boxes which will keep the meat fresh for 48 hours (subject to external conditions).
    </p>
    <p>
        It is paramount that you are available to receive the delivery, as Preseli Farm are not liable for any spoilage or losses caused by deliveries missed due to the recipient being unavailable.
    </p>
  </div>
</div>
