.accordion{
  max-width: 751px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;
  background-color: whitesmoke;
}

.accordion__label, .accordion__content{
  padding: 14px 20px;
}

.accordion__label{
  display: block;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: background-color 0.1s;
}

.accordion__label:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.accordion__content{
  width: 100%;
  background: white;
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
}

.accordion__input{
  display: none;
}

.accordion__input:checked ~ .accordion__content{
  display: block;
}
