---
layout: default
---

<div class="site-inner">
  <div class="wrap">
    <div class="content-sidebar-wrap">

      <main class="content single-product" itemscope itemtype="http://schema.org/Product">

        <section class="product-image">
          <div class="option-image">
            {% for image in page.images %}
          		<div id="product-image-{{ forloop.index }}" class="option" {% unless forloop.first %}style="display: none"{% endunless %}>
        				<img src="{{ image.path }}" itemprop="image">
          		</div>
          	{% endfor %}
          </div>
        </section>

        <section class="product-details">
          <h1 class="entry-title item_name" itemprop="name">{{ page.title }}</h1>
          <h4>{{ page.subtitle }}</h4>

          <p class="item_price">
            {{ page.price }} <small>+ delivery</small>
          </p>
          {{ content }}
          {% include buy_button.html %}
          {% if page.category %}{% include {{ page.category }}.html %}{% endif %}
        </section>

      </main>

    </div>
  </div>
</div>
